@import "tailwindcss";

/* Custom utility classes, variables, etc. can go here */
@theme {
  --color-primary: #0066ff;
  --color-background-light: #f5f7f8;
  --color-background-dark: #0f1723;
  
  --font-display: "Be Vietnam Pro", sans-serif;
  --font-sans: "Be Vietnam Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-display);
  font-feature-settings: "kern" 1;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background-light);
  min-height: max(884px, 100dvh);
}

.glass-nav { 
  backdrop-filter: blur(8px); 
  background-color: rgba(245, 247, 248, 0.8); 
}
